.App {
  text-align: center;
}

.Title {
  font-size: 48px;
}

.Subtitle {
  font-size: 24px;
}

.Winner {
  font-size: 24px;
}

.Matches {
  font-size: 36px;
}

.ChooseButton {
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.ButtonsPanel {
  display: flex;
  justify-content: center;
}

.ButtonPadding {
  padding: 10px;
}

.GameEnded {
  font-size: 24px;
}

.ChooseRegime {
  padding-top: 50px;
  text-align: center;
}